MONGO_URI=mongodb://localhost:27017
DB_NAME=seafloor_db

MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=seafloor/sensors/+/data
MQTT_USERNAME=
MQTT_PASSWORD=

ML_SERVICE_URL=http://localhost:8500/predict

JWT_SECRET=change_this_secret
METAL_ALERT_THRESHOLD=75.0